<div class="tooltip" data-tip="<%= t('components.shared_restaurant_card_component.already_in_your_restaurants') %>">
  <%= heroicon "check-circle", options: { class: "w-6 h-6 text-success" } %>
</div>
