<div id="shared-lists-section">
  <% if accepted_lists.any? %>
    <div class="mb-8">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold"><%= t('shared_lists_component.shared_with_you') %></h2>
      </div>
      
      <div id="shared-lists-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% accepted_lists.each do |list| %>
          <%= render partial: 'lists/shared_list', locals: { list: list } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
