<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold"><%= t('.title') %></h1>
  </div>

  <%= render 'form', list: @list %>
</div>
