<div class="space-y-2">
  

  <% types.each do |type| %>
    <%= button_to type.translated_name,
                  restaurant_cuisine_selection_path(restaurant),
                  method: :patch,
                  params: { cuisine_type_id: type.id },
                  class: "w-full text-left px-3 py-2 rounded-md border border-gray-200 hover:bg-gray-100",
                  form: { class: "inline" } %>
  <% end %>

</div>