<%# locals: (category:, types:, restaurant:) -%>
<div class="space-y-2">
  <% types.each do |type| %>
    <% if hotwire_native_app? %>
      <%= button_to type.translated_name,
                  restaurant_cuisine_selection_path(restaurant_id: restaurant.id, format: :turbo_stream),
                  method: :patch,
                  params: { cuisine_type_id: type.id },
                  class: type_color_classes(type, selected: restaurant.cuisine_type == type),
                  form: { class: "inline" } %>
    <% else %>
      <%= button_to type.translated_name,
                  restaurant_cuisine_selection_path(restaurant_id: restaurant.id),
                  method: :patch,
                  params: { cuisine_type_id: type.id },
                  class: type_color_classes(type, selected: restaurant.cuisine_type == type),
                  form: { class: "inline" } %>
    <% end %>
  <% end %>
</div>