<div data-controller="lightbox" class="<%= grid_classes %>">
  <% @images.each do |image| %>
    <a href="<%= render(S3ImageComponent.new(image: image, size: :large)) %>">
      <%= render(S3ImageComponent.new(
        image: image,
        size: :medium,
        html_class: image_classes
      )) %>
    </a>
  <% end %>
</div>
