<div data-controller="lightbox" class="<%= grid_classes %>">
  <% @images.each do |image| %>
    <% if (url = image_url(image)) %>
      <a href="<%= url %>">
        <%= image_tag url, 
            class: image_classes,
            loading: "lazy" %>
      </a>
    <% end %>
  <% end %>
</div>
