<div class="<%= grid_classes %>">
  <% @images.each do |image| %>
    <div class="aspect-w-3 aspect-h-2">
      <%= render(S3ImageComponent.new(
        image: image,
        size: :medium,
        html_class: image_classes
      )) %>
    </div>
  <% end %>
</div>
