<div class="flex -space-x-2 overflow-visible relative">
  <% shares.each do |share| %>
    <div class="<%= share.pending? ? 'opacity-50' : '' %> relative">
      <%= render(AvatarComponent.new(
        image: share.recipient.avatar,
        size: :sm,
        text: share.recipient.name
      )) %>
    </div>
  <% end %>
</div>
