<div class="flex -space-x-2 justify-end">
  <% shares.each do |share| %>
    <div class="avatar-wrapper <%= share.pending? ? 'opacity-50' : '' %>">
      <%= render(AvatarComponent.new(
        organization: share.target_organization,
        size: :sm,
        tooltip: tooltip_for(share)
      )) %>
    </div>
  <% end %>
</div>
