<%= turbo_frame_tag frame_id do %>
  <% if visit.price_paid.present? %>
    <%= link_to edit_visit_price_paid_path(visit_id: visit.id, locale: nil),
        class: link_classes,
        data: { turbo_frame: helpers.hotwire_native_app? ? "_top" : frame_id } do %>
      <span class="font-semibold text-surface-900 mr-2">Price Paid:</span>
      <%= visit.price_paid.format %>
    <% end %>
  <% else %>
    <%= link_to edit_visit_price_paid_path(visit_id: visit.id, locale: nil),
        class: link_classes,
        data: { turbo_frame: helpers.hotwire_native_app? ? "_top" : frame_id } do %>
      <span class="text-surface-500">Add price</span>
    <% end %>
  <% end %>
<% end %>