<%# locals: (restaurant:, readonly: false) -%>
<% frame_id = dom_id(restaurant, :price_level) %>

<% if readonly %>
  <div class="flex items-center" data-testid="price-level-component">
    <div class="flex items-center space-x-1">
      <% 4.times do |i| %>
        <%= currency_icon(class: "#{i < restaurant.price_level.to_i ? 'text-primary-500' : 'text-surface-300'} h-5 w-5") %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= turbo_frame_tag frame_id do %>
    <%= link_to edit_restaurant_price_level_path(restaurant_id: restaurant.id),
          class: "cursor-pointer",
          data: { turbo_stream: true } do %>
      <div class="flex items-center" data-testid="price-level-component">
        <div class="flex items-center space-x-1">
          <% 4.times do |i| %>
            <%= currency_icon(size: :md, class: "#{i < restaurant.price_level.to_i ? 'text-primary-500' : 'text-surface-300'} h-5 w-5") %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>