<div class="fixed inset-0 bg-surface-900 bg-opacity-50 flex items-center justify-center z-50 hidden" data-image-upload-target="overlay">
  <div class="radial-progress text-primary-500" style="--value:0;" role="progressbar" aria-valuenow="0" data-image-upload-target="progressBar">
    <span data-image-upload-target="progressText">0%</span>
  </div>
</div>