<% content_for :title, t("nav.dashboard") %>
<div class="bg-surface-50 flex flex-col h-[100dvh]">
<!--
  <div class="p-4">
    <h1 class="text-2xl font-bold text-surface-900 mb-2"><%= t("nav.welcome") %></h1>
    <p class="text-surface-600 mb-6"><%= t("nav.dashboard_description") %></p>
  </div>
  -->

  <%= render Shell::NativeMenuComponent.new %>
</div>
