<div class="container mx-auto px-4 py-8">
<h1 class="mt-4 mb-12 text-4xl font-semibold tracking-tight text-pretty text-surface-900 sm:text-5xl"><%= t('privacy_policy.title') %></h1>

<% t('privacy_policy.sections').each do |key, section| %>
<div class="mb-8">
  <h2 class="text-2xl font-semibold tracking-tight text-pretty text-surface-900"><%= section[:title] %></h2>
  <p class="mt-6 text-base/7 text-surface-600"><%= simple_format(section[:content]) %></p>
  </div>
<% end %>

<p><%= t('privacy_policy.contact', email: "support@bentobook.app") %></p>

</div>
