<div class="mt-10 max-w-md">
  <div class="rounded-md bg-success-50 px-3.5 py-2.5 text-success-700">
    <h3 class="text-base font-semibold sm:text-sm/6"><%= t('pages.home.cta.success.title') %></h3>
    <p class="mt-1 text-sm/6"><%= t('pages.home.cta.success.message') %></p>
  </div>
</div>
