<div class="mt-10 max-w-md rounded-md bg-primary-50 p-4">
  <div class="flex">
    <%= heroicon "check-circle", options: { class: "h-5 w-5 text-primary-400" } %>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-primary-800"><%= t('pages.home.subscriptions.success.title') %></h3>
      <div class="mt-2 text-sm text-primary-700">
        <p><%= t('pages.home.subscriptions.success.description') %></p>
      </div>
    </div>
  </div>
</div>
