<%= turbo_frame_tag dom_id(restaurant, :rating) do %>
  <div class="flex items-center space-x-1">
    <% rating_stars.each do |star| %>
      <% if hotwire_native_app? %>
        <%= link_to edit_path, class: "text-xl" do %>
          <% if star[:filled] %>
            <span class="text-primary-500">★</span>
          <% else %>
            <span class="text-surface-300">☆</span>
          <% end %>
        <% end %>
      <% else %>
        <button type="button" 
                data-action="click->modal#open"
                data-rating="<%= star[:value] %>"
                class="text-xl focus:outline-none">
          <% if star[:filled] %>
            <span class="text-primary-500">★</span>
          <% else %>
            <span class="text-surface-300">☆</span>
          <% end %>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>