<%= turbo_frame_tag dom_id(restaurant, :rating) do %>
  <%= link_to edit_restaurant_rating_path(restaurant_id: restaurant.id, locale: current_locale),
        class: "block group",
        data: { 
          turbo_frame: hotwire_native_app? ? "_top" : nil,
          turbo_visit_control: hotwire_native_app? ? "reload" : nil,
          controller: hotwire_native_app? ? "loading" : nil,
          action: hotwire_native_app? ? "loading#start" : nil,
          turbo_prefetch: false
        } do %>
    <div class="flex items-center" data-testid="rating-component">
      <div class="flex">
        <% 5.times do |i| %>
          <span class="<%= i < restaurant.rating.to_i ? 'text-primary-500' : 'text-surface-300' %> text-xl">
            <%= i < restaurant.rating.to_i ? '★' : '☆' %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>