<%= render 'shared/header', title: t("restaurants.new.title") %>

<div class="max-w-xl mx-auto">
  <div class="mb-6">
    <%= turbo_frame_tag "restaurant_search" do %>
      <%= render 'restaurants/new/search_form' %>
    <% end %>
  </div>
  
  <%= turbo_frame_tag "restaurant_form" %>
</div>


