<%= render 'shared/header', title: t("restaurants.new.title") %>

<div class="max-w-xl mb-6">
  <%= turbo_frame_tag "restaurant_search" do %>
    <%= render 'search_form' %>
  <% end %>
  
  <%= turbo_frame_tag "restaurant_form" %>
</div>

<% content_for :google_maps do %>
  <!-- Nothing needed here, just marking that this page needs Google Maps -->
<% end %>
