<h1><%= t('.greeting', recipient: @recipient.profile.display_name) %></h1>

<p>
  <%= t('.body', 
        creator: @creator.profile.display_name,
        list: @shareable.name,
        permission: t(".permissions.#{@share.permission}")) %>
</p>

<p><%= t('.action') %></p>

<%= link_to t('.view_list'), list_url(id: @shareable.id), class: "button" %>
